.appointment {
  .appointment-container {
    width: 800px;
  }
  .bg {
    background-image: url("src/assets/appointment-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
  }
  .long-btn {
    width: 250px;
    height: 40px;
  }
  .short-btn {
    width: 200px;
    height: 40px;
  }
  .account-btn {
    color: black;
    width: 500px;
    height: 40px;
  }
  .q-stepper__header--alternative-labels .q-stepper__tab {
    min-height: 104px;
    padding: 5px 5px; /* Adjust padding values as needed */
    flex-direction: column;
    justify-content: flex-start;
  }
  .q-stepper__title {
    width: 100px;
  }
  .font-black {
    color: black;
  }
  .q-input {
    height: 75px;
    margin: 0;
  }
  .input-field-half {
    width: 250px;
  }

  .input-field {
    width: 500px;
  }
  .paragraph {
    width: 500px;
  }
  .input-title {
    margin: 0;
  }
  .q-select-outlined .q-field__native {
    height: 550px; /* Adjust the height as needed */
    line-height: 40px; /* Set the same value as height for vertical alignment */
  }
  .box {
    margin: 0px 200px 100px;
  }
  q-dialog{
    background-color: white !important; /* Adjust the rgba values as needed */
    color: white;
  }
}
