.register {
  .long-btn {
    width: 250px;
    height: 40px;
  }
  .short-btn {
    width: 200px;
    height: 40px;
  }
  .account-btn {
    color: black;
    width: 500px;
    height: 40px;
  }
  .q-stepper__header--alternative-labels .q-stepper__tab {
    min-height: 104px;
    padding: 5px 5px; /* Adjust padding values as needed */
    flex-direction: column;
    justify-content: flex-start;
  }
  .q-stepper__title {
    width: 100px;
  }
  .font-black {
    color: black;
  }
  .q-input {
    height: 75px;
    margin: 0;
  }
  .input-field-half {
    width: 250px;
  }

  .input-field {
    width: 500px;
  }
  .input-title {
    margin: 0;
  }
  .box {
    margin: 0px 200px 100px;
  }
}
